<div class="herb-learn-more-modal hide">
    <div class="modal-wrapper">
        <div class="btn-close-modal"></div>
        <div class="herb-main-content">
            <div class="herb-image"></div>
            <h2 class="h1 herb-heading"></h2>
            <div class="herb-content"></div>
        </div>
        <div class="herb-history herb-section"></div>
        <div class="herb-science herb-section"></div>
        <div class="herb-sourcing herb-section"></div>
        <div class="herb-ingredients herb-section"></div>
    </div>
</div>