<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">{{ item["question_text"] }}</div>
    </div> 
  </div>
  <div class="slide-bottom">
    {% comment %} {% if item["why_we_ask_text"] %}
      <div class="sidebar-button-slide">
        <div class="inner">
          <span class="title">Why We Ask?</span>
          <p>{{ item["why_we_ask_text"] }}</p>
          <span class="left-arrow-button"></span>
        </div>
      </div>  
    {% endif %} {% endcomment %}
    <div class="slide-answer-wrapper">
      {% render 'quiz-text-field', placeholder: "" %}
    </div>
    <div class="slide-continue-wrapper">
      <p class="nothing-selected text-center">Please enter your info :)</p>
    </div>
  </div>
</div>