<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">What should we explore, @name? We ask about 2 to 3 questions per health goal.</div>
      <!-- <span class="dynamic-name"></span> -->
    </div>
  </div>
  <div class="slide-bottom">
    <div class="slide-answer-wrapper slide-answer-wrapper-categories">
      {% assign button_label = "Sleep" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Stress" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Digestion" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Immunity" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Energy" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Brain" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Fitness" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Heart" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Hair" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Skin" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Bones" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
      {% assign button_label = "Joints" %}
      {% render 'quiz-multiple-choice-category-button', button_text: button_label %} 
    </div>
    <div class="slide-continue-wrapper">
      <p class="nothing-selected text-center">Please select at least 1 area of interest before continuing :)</p>
      <a class="btn--kleva btn--quiz-continue btn--quiz-continue-inactive">Continue</a>
    </div>
  </div>
</div> 