<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">{{ item['question_format_text'] }}</div>
      <!-- <span class="dynamic-name"></span> -->
      {% if item['format_subtext'] != blank %}
        <div class="question-subheading slide-question slide-question-small text-center">{{ item["format_subtext"] }}</div>
      {% endif %}
    </div>
  </div>
  <div class="slide-bottom">
    <div class="slide-answer-wrapper slide-answer-wrapper-categories" data-max-choices-allowed="{{ item["maximum_choices_allowed"] }}">
      {%- liquid 
        if item["answer_choices"] != blank
          for answer_choices_item in item['answer_choices']
            if answer_choices_item["answer_text"] != blank
              render 'quiz-multiple-choice-category-button', button_text: answer_choices_item["answer_text"], subtext: answer_choices_item["subtext"], active_state: active_state
            endif
          endfor
        endif
      -%}
    </div>
    <div class="slide-continue-wrapper">
      <p class="nothing-selected text-center">{{ item['nothing_selected_text'] }}</p>
      <a class="btn--kleva btn--quiz-continue btn--quiz-continue-inactive">Continue</a>
    </div>
  </div>
</div> 