<nav>
  <ol id="quizProgressBar" class="">
    <li id="crumbGoals" class="current">
      <span>goals</span>
    </li>
    <li id="crumbLifestyle" class="">
      <span>lifestyle</span>
    </li>
    <li id="crumbBasics" class="">
      <span>basics</span>
    </li>
    <li id="crumbValues" class="">
      <span>values</span>
    </li>
    <li id="crumbResults" class="">
      <span>results</span>
    </li>
  </ol>
</nav>