

<form action="javascript:void(0);" class="single-text-input">
  {% case slide_id %}
    {% when "UserName" %}
      <input type="text" id="userName" name="userName" placeholder="{{ placeholder }}">
    {% when "Basic04" %}
      <input type="text" id="userName" name="userZip" placeholder="{{ placeholder }}">
    {% when "Basic05" %}
      <input type="text" id="userName" name="userAge" placeholder="{{ placeholder }}">
    {% else %}
      <input type="text" id="userName" name="userEmail" placeholder="{{ placeholder }}">
  {% endcase %}
  <a class="inline-continue"></a>
  <!-- <input type="submit" class="inline-continue" value=""> -->
</form>