<div class="slide-inner slide-inner-ff-01">
  <div class="slide-left">
    <div class="slide-header">
      <img src="{{ 'smirkWhite.png' | asset_img_url:'150x' }}" alt="">
      <h1>Fun<br/>Fact:</h1>
    </div>
  </div>
  <div class="slide-right">
    <div class="slide-right-header">
      <h3>Sleepy Fact</h3>
    </div>
    <div class="slide-right-body">
      <p>Fun fact: Humans are the only mammals that willingly delay sleep. If it takes you less than five minutes to fall asleep at night, you’re probably sleep-deprived. Ideally, falling asleep should take 10 to 15 minutes.</p>
    <div class="slide-continue-wrapper">
      <a class="btn--kleva btn--quiz-continue">Continue</a>
    </div>
    <br/>
    <p>(some fun facts will automatically transition after a set amount of time entered in the custom fields)</p>
    </div>
  </div>
</div>