

<form action="javascript:void(0);" class="single-text-input">
  <input type="text" id="userName" name="username" placeholder="{{ placeholder }}">
  <a class="inline-continue"></a>
  {%- comment -%}
  <input type="submit">
  {%- endcomment -%}
</form>