<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">{{ item["question_format_text"] }}</div>
      <div class="question-subheading slide-question slide-question-small text-center">{{ item["format_subtext"] }}</div>
    </div>
  </div>
  <div class="slide-bottom">
    <div class="slide-answer-wrapper" data-max-choices-allowed="{{ item["maximum_choices_allowed"] }}">
      {% assign active_number = 0 %}
      {% for answer_choices_item in item["answer_choices"] %}
        {% assign button_label = answer_choices_item['answer_text'] %}
        {% assign subtext = answer_choices_item['subtext'] %}
        {% if answer_choices_item["active"] == 1 %}
          {% assign active_number = active_number | plus: 1 %}
        {% endif %}
        {% render 'quiz-multiple-choice-answer-button', button_text: button_label, subtext: subtext, active_state: answer_choices_item["active"] %} 
      {% endfor %}
      {% if item["other_option"] == 1 %}
        {% render 'quiz-multiple-choice-answer-button', button_text: "Other" %}
      {% endif %}
    </div>
    <div class="other-answer-wrapper">
      <form action="javascript:void(0);" class="single-text-input">
        <input type="text" id="otherAnswer" class="single-answer-input" name="otherAnswer" placeholder="">
      </form>
    </div>
    <div class="slide-continue-wrapper">
      <p class="nothing-selected text-center">
        {% if item['nothing_selected_text'] != blank %}
          {{ item['nothing_selected_text'] }}
        {% else %}
          Please select at least 1 area of interest before continuing :)
        {% endif %}
      </p>
      <a class="btn--kleva btn--quiz-continue {% if active_number == 0 %} btn--quiz-continue-inactive {% endif %}">Continue</a>
    </div>
  </div>
</div>