
<div class="slide-inner {% if item['unique_slide_id'] == "UserName" %}full-screen{% endif %}" {% if item['unique_slide_id'] == "UserName" %} style="background: {{ settings.quiz_start_background }};" {% endif %}>
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">{{ item["question_format_text"] }}</div>
      {% if item['unique_slide_id'] == "UserName" %}
        <div class="question-heading-image text-center">
          <img src="{{ 'Vector.png' | asset_url }}" alt="">
        </div>
      {% endif %}
    </div> 
  </div>
  <div class="slide-bottom">
    <div class="slide-answer-wrapper">
      {% render 'quiz-text-field', slide_id: item['unique_slide_id'], placeholder: item['placeholder'], validation: item["data_validation"] %}
    </div>
    <div class="slide-continue-wrapper">
      <p class="nothing-selected text-center">{{ item['nothing_selected_text'] }}</p>
    </div>
    <div class="slide-arrow-wrapper">
      <span></span>
    </div>
  </div>
</div>