<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">{{ item["question_text"] }}</div>
    </div>
  </div>
  <div class="slide-bottom">
  </div>
</div>