<!-- <div class="slide-inner" style="background-image: url({{ 'slide01Background.jpg' | asset_img_url:2000x }})"> -->
<div class="slide-inner">
  <div class="slide-left">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">What should we explore? We ask about 2 to 3 questions per health goal.</div>
    </div>
    <div class="slide-left-body">
    b
    </div>
    <div class="slide-left-footer">
    f
    </div>
  </div>
  <div class="slide-right">
  </div>
</div>