<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">{{ item["question_text"] }}</div>
    </div> 
  </div>
  <div class="slide-bottom">
    <div class="slide-answer-wrapper">
      {% render 'quiz-text-field', slide_id: item['unique_slide_id'], placeholder: "" %}
    </div>
    <div class="slide-continue-wrapper">
      <p class="nothing-selected text-center">Please enter your info :)</p>
    </div>
  </div>
</div>