<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">{{ item["question_format_text"] }}</div>
      <div class="question-subheading slide-question slide-question-small text-center">{{ item["format_subtext"] }}</div>
    </div>
  </div>
  <div class="slide-bottom">
    <div class="slide-answer-wrapper">
      {% assign button_label = "Yes" %}
      {% render 'quiz-multiple-choice-answer-button', button_text: button_label, question_type: "yes-no" %} 
      {% assign button_label = "No" %}
      {% render 'quiz-multiple-choice-answer-button', button_text: button_label, question_type: "yes-no" %}
    </div>
    {%- comment -%}
    <div class="slide-continue-wrapper">
      <p class="nothing-selected text-center">Please select Yes or No before continuing :)</p>
      <a class="btn--kleva btn--quiz-continue btn--quiz-continue-inactive">Continue</a>
    </div>
    {%- endcomment -%}
  </div>
</div>