<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header">
      <div class="question-heading slide-question slide-question-small text-center">How often do you catch the common cold in a year?</div>
    </div>
  </div>
  <div class="slide-bottom">
    <div class="slide-answer-wrapper">
      {% assign button_label = "Once or less" %}
      {% render 'quiz-multiple-choice-answer-button', button_text: button_label %} 
      {% assign button_label = "1-2" %}
      {% render 'quiz-multiple-choice-answer-button', button_text: button_label %} 
      {% assign button_label = "3-5" %}
      {% render 'quiz-multiple-choice-answer-button', button_text: button_label %} 
      {% assign button_label = "5+" %}
      {% render 'quiz-multiple-choice-answer-button', button_text: button_label %} 
    </div>
    <div class="slide-continue-wrapper">
      <p class="nothing-selected text-center">Please select at least 1 area of interest before continuing :)</p>
      <a class="btn--kleva btn--quiz-continue btn--quiz-continue-inactive">Continue</a>
    </div>
  </div>
</div>




