<nav>
  <ol class="quizProgressBar">
    <li class="current crumbGoals">
      <div class="subProgressBar"></div>
      <span>goals</span>
    </li>
    <li class="crumbLifestyle">
      <div class="subProgressBar"></div>
      <span>lifestyle</span>
    </li>
    <li class="crumbBasics">
      <div class="subProgressBar"></div>
      <span>basics</span>
    </li>
    <li class="crumbValues">
      <div class="subProgressBar"></div>
      <span>values</span>
    </li>
    <li class="crumbResults">
      <span>results</span>
    </li>
  </ol>
</nav>