<div class="slide-inner">
  <div class="slide-top">
    <div class="slide-header slide-header-stacked">
    <img src='{{ item["slide_main_image"] }}' alt="" />
      <div class="question-heading slide-question slide-question-small text-center"><span>{{ item["question_text"] }}</span> @name</div>
      <!-- <span data-user-name></span> -->
      <div class="question-subheading slide-question slide-question-small text-center">{{ item["subtext"] }}</div>
    </div> 
  </div>
  <div class="slide-bottom">
    <div class="slide-continue-wrapper">
      <a class="btn--kleva btn--quiz-continue ">Continue</a>
    </div>
  </div>
</div>