
html, body {
    height: 100%;
}
.why-we-ask {
    text-align: center;
    margin-top: -40px;
    height: 50px;
    display: flex;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
    .why-we-ask-content {
        position: fixed;
        bottom: 16px;
        width: 100%;
        max-width: 350px;
        background: #92C79D;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 13px 16px;
        .title {
            font-size: 15px;
        }
        .text {
            color: black;
            padding: 13px 50px 50px;
            margin: 0;
        }
        .ok-btn {
            background: #272C2F;
            border-radius: 10px;
            font-size: 14px;
            padding: 10px 30px;
            max-width: 200px;
            display: block;
            margin: 0 auto;
            margin-bottom: 12px;
        }
        .close-btn {
            display: block;
            width: 25px;
            height: 36px;
            text-align: right;
            position: relative;
            margin-left: 93%;
            &::before {
                content: "";
                position: absolute;
                width: 32px;
                height: 1px;
                background: white;
                left: -3px;
                top: 18px;
                transform: rotate(52deg);
            }
            &::after {
                content: "";
                position: absolute;
                width: 32px;
                height: 1px;
                background: white;
                left: -3px;
                top: 18px;
                transform: rotate( -52deg);
            }
        }
    }
    .why-we-ask-button {
        width: 220px;
        span {
            @media (min-width: 799px) {
                font-size: 13px;
            }
            font-size: 10px;
            padding: 0 10px 5px;
            border-bottom: 1px solid #000000;
            color: #92C79D;
        }
    }
}
#PageContainer {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    .main-content {
        padding: 0;
        margin: 0;
        max-width: 100%;
        height: 100%;
        .container {
            padding: 0;
            margin: 0;
            max-width: 100%;
            height: 100%;
            .page.page-default {
                padding: 0;
                margin: 0;
                height: 100%;
                .assets-test-area {
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    width: 100%;
                    .asset-wrapper.swiper-wrapper {
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        max-width: 100%;
                        height: 100%;
                        .swiper {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            .swiper-wrapper {
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                max-width: 100%;
                                height: 100%;
                                .swiper-slide {
                                    padding: 0;
                                    margin: 0;
                                    height: 100%;
                                    width: 100%;
                                    overflow-x: hidden;
                                    display: flex;
                                    flex-direction: column;
                                    .slide-inner {
                                        padding: 50px 22px;
                                        flex-grow: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
.container.section-cover {
    .page.page-default {
        .asset-wrapper.swiper-wrapper {
            .swiper-wrapper {
                .swiper-slide { /* was .swiper-slide-active */
                    display: flex;
                    justify-content: center;
                    .btn--quiz-back {
                        position: absolute;
                        top: 0;
                    }
                    .slide-inner {
                        width: 100%;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        flex-direction: column;
                        padding-top: 22px !important;
                        .slide-wrapper {
                            background: white;
                            max-width: 705px;
                            width: 100%;
                            border-radius: 10px;
                            padding: 30px;
                            .section-heading {
                                font-family: 'NewYork';
                                font-size: 44px;
                                line-height: 1;
                                text-align: center;
                                color: #92C79D;
                                display: block;
                            }
                            .question-heading {
                                font-family: 'DM Sans', sans-serif;
                                margin-top: 30px;
                                margin-bottom: 50px;
                            }
                            .question-text {
                                font-family: 'DM Sans', sans-serif;
                                font-size: 20px;
                                line-height: 24px;
                            }
                            .slide-bottom {
                                margin-top: 30px;
                                padding: 18px 80px;
                                .btn-section-cover {
                                    &:hover {
                                        cursor: pointer;
                                    }
                                    border-radius: 10px;
                                    border: none;
                                    font-family: 'DM Sans', sans-serif;
                                    font-size: 20px;
                                    line-height: 1;
                                    text-align: center;
                                    text-transform: capitalize;
                                    padding: 18px 80px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#devScoreWrapper {
    display: none;
}
#calculating_slide {
    flex-direction: column;
    .calculating-announcement-bar {
        width: 100%;
        margin: 0;
        margin-top: 85px;
    }
    .calculating-body img {
        @media (max-width: 798px) {
            width: 80%;
        }
    }
}
.breadcrumbs-progress-wrapper.hide {
    display: none;
}
.page.page-default.vh {
    padding: 0;
}
.page.page-default.hide {
    display: none;
}
.calculating-slide {
    display: flex;
    align-items: center;
}
.desktop-hide {
    display: none;
}
.calculating-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    .calculating-heading.mobile-hide {
        padding-right: 30px;
    }
    .calculating-heading {
        width: 25%;
        span {
            font-family: 'NewYork';
            font-weight: normal;
            font-size: 44px;
            color: #000000;
            line-height: 46px;
        }
    }
    .calculating-body {
        position: relative;
        .center-group {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-flow: column;
            span {
                font-family: 'DM Sans', sans-serif;
                font-weight: bold;
                font-size: 22px;
                color: #000000;
            }
        }
    }
    .calculating-sidebar {
        @media (min-width: 799px) {
            margin-left: 100px;
        }
        span {
            font-family: 'DM Sans', sans-serif;
            font-weight: normal;
            font-size: 15px;
        }
    }
}
.sidebar-button-slide {
    background-color: #92C79D;
    color: white;
    border-radius: 7px;
    position: absolute;
    z-index: 9;
    left: 0px;
    top: 200px;
    width: 100%;
    &:hover {
        cursor: pointer;
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 70px 0px;

        span.title {
            transform: rotate(180deg);
            font-family: 'DM Sans',sans-serif;
            font-size: 20px;
            writing-mode: vertical-lr;
            margin-left: 40px;
        }
        p {
            color: white;
            margin: 0;
            font-size: 27px;
            font-family: 'DM Sans',sans-serif;
            line-height: 28px;
            max-width: 700px;
            text-align: center;
        }
        .left-arrow-button {
            width: 25px;
            height: 25px;
            display: block;
            display: flex;
            align-items: center;
            transform: rotate(-45deg);
            border-left: 4px solid;
            border-top: 4px solid;
            border-radius: 2px;
            margin-right: 40px;
            &:hover {
            cursor: pointer;
            }
        }
    }
}
.sidebar-button-slide.hide {
    display: none;
}
.sidebar-button-slide.collapsed {
    width: 60px;
    &:hover {
        cursor: pointer;
    }
    .inner span.title {
        margin-left: 20px;
    }
    .left-arrow-button, p {
        display: none;
    }
}
.calculating-announcement-bar {
    text-align: center;
    background: #272C2F;
    margin-left: -15px;
    margin-right: -15px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    span {
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
    }
}
.pre-product-recommendation.hide {
    display: none;
}
.pre-product-recommendation {
    .section-wrapper.flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        .half-width {
            width: 50%;
        }
        .left-side {
            height: 100%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .right-side {
            margin-left: 50px;
            margin-right: 50px;
            &>span {
                font-family: 'DM Sans',sans-serif;
                font-size: 15px;
                line-height: 14px;
                color: #000000;
            }
            .h1 {
                font-family: 'NewYork';
                font-size: 50px;
                font-weight: normal;
                line-height: 55px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin: 45px 0px;
            }
            p {
                font-family: 'DM Sans',sans-serif;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 35px;
            }
            a {
                font-family: 'DM Sans',sans-serif;
                font-weight: bold;
                font-size: 20px;
                line-height: 14px;
                color: #FFFFFF;
                margin-right: 15px;
                line-height: 1;
                @media (min-width: 799px) {
                    padding: 20px 0px;
                }
            }
            .btn-flex {
                display: flex;
                align-items: center;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.btn--quiz-back {
    width: 100px;
    background: #272C2F;
    border-radius: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 0;
    margin-top: 90px;
    margin-bottom: 22px;
    margin-left: 22px;
    &:hover {
        cursor: pointer;
    }
    span {
        color: white;
        margin-left: 10px;
    }
}
.range-emoticon {
    margin: 25px auto;
}
.vertical-slider-inner {
    .single-text-input {
        padding: 100px 0px;
        .vertical-slide-item-wrapper {
            &::after {
                content: '';
                box-shadow: inset 0 66px 51px 0px #fff;
                position: absolute;
                width: 100%;
                height: 25%;
                top: 0;
            }
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            max-width: 610px;
            background: white;
            border: 3px solid #ccbc9b;
            border-radius: 10px;
            overflow: hidden;
            .inner-wrapper::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 25%;
                bottom: 0;
                left: 0;
                box-shadow: inset 0px -35px 28px 0px #fff;
            }
        }
        .slick-active.slick-center {
            border-top: 1px solid #E6E4EA;
            border-bottom: 1px solid #E6E4EA;
            .btn--quiz-vertical-slider-item {
                font-size: 30px;
                color: black !important;
                @media (max-width: 798px) {
                    font-size: 20px;
                }
            }
        }
        .btn--quiz:not([href]) {
            margin: 0;
            border-radius: unset;
            border: unset;
            display: flex !important;
            justify-content: center;
            padding: 5px 0px;
            background: none;
            color: #9A99A2 !important;
        }
    }
}
.range-slider-bar {
    position: absolute;
    -webkit-appearance: none;
    width: calc(100% - 44px);
    height: 7px;
    background: transparent;
    outline: none !important;
    -webkit-transition: 2s;
    transition: opacity 2s;
    border: none;
    // padding: 0 12%;
}
.range-slider-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none;
    border: 2px solid black;
    cursor: pointer;
}
.range-slider-bar::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}
.slide-header {
    p {
        text-align: left;
    }
    p.text-align-right {
        text-align: right;
    }
    p.text-align-center {
        text-align: center;
    }
    a {
        text-decoration: underline;
        color: blue;
    }
}

@media (max-width: 798px) {
    .page.page-default {
        padding-top: 0;
        padding-bottom: 0;
    }
    .quizProgressBar {
        margin: 0;
        padding: 0;
    }
    .question-subheading {
        font-size: 12px;
        color: #272C2F;
    }
    .btn--quiz {
        margin: 6px;
    }
    .range-emoticon {
        max-width: 100px;
    }
    .container.section-cover {
        .page.page-default .asset-wrapper.swiper-wrapper .swiper-wrapper .swiper-slide .slide-inner { /* was .swiper-slide-active */
            background-position: left;
            .slide-wrapper {
                padding: 20px;
                margin: 0 auto;
                width: 85%;
                .question-heading {
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                .question-text {
                    font-size: 12px;
                    line-height: 1.4;
                }
                .section-heading.mobile-hide {
                    display: none;
                }
                .slide-bottom {
                    padding: 10px 0px;
                    margin-top: 15px;
                    .btn-section-cover {
                        font-size: 14px;
                        padding: 10px 50px;
                    }
                }
            }
            .section-heading.desktop-hide {
                font-family: 'NewYork';
                font-style: normal;
                font-size: 24px;
                line-height: 1;
                color: #272C2F;
                margin: 30px 0px;
            }
        }
    }
    .desktop-hide {
        display: block;
    }
    .mobile-hide {
        display: none;
    }
    .calculating-slide {
        padding: 0 22px;
        display: block;
        .calculating-wrapper {
            display: block;
            text-align: center;
            .desktop-hide {
                width: 100%;
                margin-top: 20px;
            }
            .calculating-body {
                .center-group span {
                    font-weight: normal;
                }
            }
        }
    }
    .btn--quiz-back {
        font-family: 'DM Sans',sans-serif;
        font-weight: 400;
        font-size: 11px;
        display: flex;
        align-items: center;
        margin-top: 70px;
        img {
            display: inline-block;
        }
    }
    .sidebar-button-slide {
        left: 13px;
        width: calc(100% - 26px);
        .inner {
            span.title {
                font-size: 9px;
                margin-left: 10px;
            }
            p {
                font-size: 12px;
                padding: 0 10px;
                width: 86%;
            }
            .left-arrow-button {
                width: 15px;
                height: 15px;
                border-left: 3px solid;
                border-top: 3px solid;
                margin-right: 20px;
            }
        }
    }
    .sidebar-button-slide.collapsed {
        width: 30px;
        .inner span.title {
            margin-left: 5px;
        }
    }
    .pre-product-recommendation {
        .section-wrapper.flex {
            .right-side {
                width: 100%;
                text-align: center;
                padding-left: 22px;
                padding-right: 22px;
                margin: 0;
                p, a {
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.5;
                }
                .btn-flex {
                    justify-content: space-around;
                    background: #272C2F;
                    border-radius: 10px;
                    padding: 15px;
                    max-width: 320px;
                    margin: 0 auto;
                }
            }
            .left-side {
                display: none;
            }
            .right-side {
                span, p {
                    color: white;
                }
            }
        }
    }
}