
html, body {
    height: 100%;
}
#PageContainer {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    .main-content {
        // inset: 0px;
        // height: 100%;
        // position: absolute;
        // overflow-y: scroll;
        padding: 0;
        margin: 0;
        max-width: 100%;
        height: 100%;
        .container {
            padding: 0;
            margin: 0;
            max-width: 100%;
            height: 100%;
            .page.page-default {
                padding: 0;
                margin: 0;
                height: 100%;
                .assets-test-area {
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    width: 100%;
                    .asset-wrapper.swiper-wrapper {
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        max-width: 100%;
                        height: 100%;
                        .swiper {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            .swiper-wrapper {
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                max-width: 100%;
                                height: 100%;
                                // align-items: flex-start;
                                .swiper-slide {
                                    padding: 0;
                                    margin: 0;
                                    height: 100%;
                                    width: 100%;
                                    overflow-x: hidden;
                                    .slide-inner {
                                        padding: 22px;
                                    }
                                    // .slide-inner.full-screen {
                                    //     padding: 0;
                                    // }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
.container.section-cover {
    // padding: 0;
    .page.page-default {
        // padding: 0;
        .asset-wrapper.swiper-wrapper {
            // margin: 0;
            // max-width: 100%;
            .swiper-wrapper {
                // max-width: 100%;
                // height: 100vh;
                .swiper-slide-active {
                    display: flex;
                    justify-content: center;
                    .btn--quiz-back {
                        position: absolute;
                    }
                    .slide-inner {
                        width: 100%;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        flex-direction: column;
                        .slide-wrapper {
                            background: white;
                            max-width: 705px;
                            width: 100%;
                            border-radius: 10px;
                            padding: 30px;
                            .section-heading {
                                font-family: 'NewYork';
                                font-size: 44px;
                                line-height: 1;
                                text-align: center;
                                color: #92C79D;
                                display: block;
                            }
                            .question-heading {
                                // font-family: 'NewYork';
                                font-family: 'DM Sans', sans-serif;
                                // text-transform: capitalize;
                                color: #272C2F;
                                margin-top: 30px;
                                margin-bottom: 50px;
                            }
                            .question-text {
                                font-family: 'DM Sans', sans-serif;
                                font-size: 20px;
                                line-height: 24px;
                                color: #272C2F;
                            }
                            .slide-bottom {
                                margin-top: 30px;
                                padding: 18px 80px;
                                .btn-section-cover {
                                    &:hover {
                                        cursor: pointer;
                                    }
                                    background: #272C2F;
                                    border-radius: 10px;
                                    color: white;
                                    border: none;
                                    font-family: 'DM Sans', sans-serif;
                                    font-size: 20px;
                                    line-height: 1;
                                    text-align: center;
                                    color: #FFFFFF;
                                    text-transform: capitalize;
                                    padding: 18px 80px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#devScoreWrapper {
    display: none;
}
#calculating_slide {
    flex-direction: column;
    .calculating-announcement-bar {
        width: 100%;
        margin: 0;
    }
    .calculating-body img {
        @media (max-width: 798px) {
            width: 80%;
        }
    }
}
.breadcrumbs-progress-wrapper.hide {
    display: none;
}
// .mySwiper {
    //height: 100vh;
// }
.page.page-default.vh {
    // height: 100vh;
    padding: 0;
}
.page.page-default.hide {
    display: none;
}
.calculating-slide {
    display: flex;
    align-items: center;
}
.desktop-hide {
    display: none;
}
.calculating-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    .calculating-heading.mobile-hide {
        padding-right: 30px;
    }
    .calculating-heading {
        width: 25%;
        span {
            font-family: 'NewYork';
            font-weight: normal;
            font-size: 44px;
            color: #000000;
            line-height: 46px;
        }
    }
    .calculating-body {
        position: relative;
        .center-group {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-flow: column;
            span {
                font-family: 'DM Sans', sans-serif;
                font-weight: bold;
                font-size: 22px;
                color: #000000;
            }
        }
    }
    .calculating-sidebar {
        @media (min-width: 799px) {
            margin-left: 100px;
        }
        span {
            font-family: 'DM Sans', sans-serif;
            font-weight: normal;
            font-size: 15px;
        }
    }
}
.sidebar-button-slide {
    background-color: #92C79D;
    color: white;
    border-radius: 7px;
    position: absolute;
    z-index: 9;
    left: 0px;
    top: 200px;
    width: 100%;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 70px 0px;

        span.title {
            transform: rotate(180deg);
            font-family: 'DM Sans',sans-serif;
            font-size: 20px;
            writing-mode: vertical-lr;
            margin-left: 40px;
        }
        p {
            color: white;
            margin: 0;
            font-size: 27px;
            font-family: 'DM Sans',sans-serif;
            line-height: 28px;
            max-width: 700px;
            text-align: center;
        }
        .left-arrow-button {
            width: 25px;
            height: 25px;
            display: block;
            display: flex;
            align-items: center;
            transform: rotate(-45deg);
            border-left: 4px solid;
            border-top: 4px solid;
            border-radius: 2px;
            margin-right: 40px;
            &:hover {
            cursor: pointer;
            }
        }
    }
}
.sidebar-button-slide.hide {
    display: none;
}
.sidebar-button-slide.collapsed {
    width: 60px;
    &:hover {
        cursor: pointer;
    }
    .inner span.title {
        margin-left: 20px;
    }
    .left-arrow-button, p {
        display: none;
    }
}
.calculating-announcement-bar {
    text-align: center;
    background: #272C2F;
    margin-left: -15px;
    margin-right: -15px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    span {
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
    }
}
.pre-product-recommendation.hide {
    display: none;
}
.pre-product-recommendation {
    // margin-left: -30px;
    // margin-right: -30px;
    // height: 100vh;
    .section-wrapper.flex {
        background: #92C79D;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        .half-width {
            width: 50%;
        }
        .left-side {
            height: 100%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .right-side {
            margin-left: 50px;
            margin-right: 50px;
            &>span {
                font-family: 'DM Sans',sans-serif;
                font-size: 15px;
                line-height: 14px;
                color: #000000;
            }
            .h1 {
                font-family: 'NewYork';
                font-size: 50px;
                font-weight: normal;
                line-height: 55px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin: 45px 0px;
            }
            p {
                font-family: 'DM Sans',sans-serif;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 35px;
            }
            a {
                font-family: 'DM Sans',sans-serif;
                font-weight: bold;
                font-size: 20px;
                line-height: 14px;
                color: #FFFFFF;
            }
            .btn-flex:hover {
                cursor: pointer;
            }
        }
    }
}
.recommended-products.hide {
    display: none;
}
.recommended-products {
    height: 100vh;
    .h1 {
        font-family: 'NewYork';
        font-weight: normal;
        font-size: 50px;
        line-height: 65px;
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .products-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-right-arrow {
            width: 12px;
            height: 12px;
            padding: 0;
            float: right;
            margin: 0;
            margin-top: 10px;
            display: block;
            position: relative;
            transform: rotate(45deg);
            border-top: 2px solid white;
            border-right: 2px solid white;
            &::before {
                content: '';
                width: 40px;
                height: 2px;
                background: white;
                position: absolute;
                transform: rotate(135deg);
                right: -14px;
                margin-right: 7px;
                top: 12px;
            }
        }
        .item {
            box-shadow: 0px 4px 34px rgba(0,0,0,0.25);
            margin: 0 20px;
            &:hover {
                cursor: pointer;
            }
            .image-wrapper {
                position: relative;
                a {
                    display: block;
                    padding-bottom: 40%;
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }
            }
            .item.hide {
                display: none;
            }
            .text-wrapper {
                background-color: #92C79D;
                padding: 35px 20px;
                padding-bottom: 5px;
                h3, span, li {
                    font-family: 'DM Sans',sans-serif;
                }
                h3 {
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 14px;
                    color: #000000;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
                .sub-heading {
                    font-weight: normal;
                    font-size: 9px;
                    line-height: 14px;
                    color: #FFFFFF; 
                }
                .product-title {
                    font-size: 21px;
                    line-height: 14px;
                    color: #FFFFFF;
                    font-weight: normal;
                    margin-bottom: 30px;
                    margin-top: 10px;
                }
                ul {
                    margin: 0px 15px;
                    li {
                        font-weight: bold;
                        font-size: 11px;
                        line-height: 14px;
                        color: #000000;
                        list-style: disc;
                        margin-bottom: 20px;
                        span {
                            font-weight: normal;
                            font-size: 11px;
                            line-height: 14px;
                            display: block;
                            margin-top: 6px;
                        }
                    }
                }
                .bottom {
                    border-top: 1px solid #FEFFB9;
                    margin-top: 50px;
                    margin-bottom: 10px;
                    .btn-right-arrow-wrapper {
                        display: block;
                        width: 100%;
                        height: 30px;
                    }
                    span.text {
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 14px;
                        color: #000000;
                        padding-top: 18px;
                        display: block;
                    }
                }
            }
        }
        .item.arrow {
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover {
                cursor: pointer;
            }
            span.text {
                font-family: 'DM Sans',sans-serif;
                font-weight: bold;
                font-size: 21px;
                color: #000000;
                margin-right: 50px;
                margin-top: 7px;
            }
            .btn-right-arrow {
                border-color: black;
                &::before {
                    background: black;
                }
            }
        }
    }
}
.learn-more-popup {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    left: 0;

    position: absolute;
    bottom: 0;
    // left: -681px;
    // width: 681px;
    transition: transform .4s cubic-bezier(.46, .01, .32, 1);
    .item {
        width: 681px;
        h3, span, ul li {
            font-family: 'DM Sans',sans-serif;
            color: #000000;
        }
        .image-wrapper {
            a {
                display: block;
                padding-bottom: 20%;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .text-wrapper {
            background: #92c79d;
            padding: 25px 35px;
            .inner-wrapper {
                text-align: center;
                .product-title {
                    font-weight: normal;
                    font-size: 61px;
                    color: #FFFFFF;
                    border-bottom: 1px solid #000000;
                    width: 66%;
                    margin: 0 auto;
                    line-height: 1.3;
                }
                .recommend_label {
                    font-weight: normal;
                    font-size: 20px;
                    margin: 15px 0px 20px;
                }
                .recommend_short_text {
                    font-weight: bold;
                    font-size: 20px;
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin-top: 20px;
                    flex-wrap: wrap;
                    li {
                        font-weight: normal;
                        font-size: 9px;
                        list-style: disc;
                        width: 17%;
                        line-height: 1.5;
                        label {
                            font-weight: bold;
                            font-size: 11px;
                        }
                    }
                }
                .bottom {
                    margin-top: 45px;
                    .popup-learn-more-link {
                        padding: 10px 20px;
                        &:hover {
                            cursor: pointer;
                        }
                        .learn-more {
                            font-weight: normal;
                            font-size: 11px;
                        }
                    }
                }  
            }
            .close-wrapper {
                display: flex;
                justify-content: flex-end;
                .close {
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    transform: rotate(45deg);
                    &::before, &:after {
                        content: '';
                        position: absolute;
                        background: #272C2F;
                    }
                    &::before {
                        width: 45px;
                        height: 5px;
                    }
                    &:after {
                        width: 5px;
                        height: 45px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            } 
        }
    }
}
.learn-more-popup.popup-open {
    // transform: translateX(681px);
    background: rgba(20, 20, 20, 0.6);
    display: flex;
}
.btn--quiz-back {
    width: 100px;
    background: #272C2F;
    border-radius: 60px;
    // position: absolute;
    // display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    // margin: 0 auto;
    left: 0;
    // padding-top: 30px;
    margin-top: 90px;
    margin-bottom: 22px;
    margin-left: 22px;
    &:hover {
        cursor: pointer;
    }
    img {
        // display: none;
    }
    span {
        color: white;
        margin-left: 10px;
        // padding: 10px 20px;
        
    }
}
.range-emoticon {
    margin: 25px auto;
}
.vertical-slider-inner {
    .single-text-input {
        padding: 100px 0px;
        .vertical-slide-item-wrapper {
            &::after {
                content: '';
                box-shadow: inset 0 66px 51px 0px #fff;
                position: absolute;
                width: 100%;
                height: 25%;
                top: 0;
            }
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            max-width: 610px;
            background: white;
            border: 3px solid #ccbc9b;
            border-radius: 10px;
            overflow: hidden;
            .inner-wrapper::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 25%;
                bottom: 0;
                left: 0;
                box-shadow: inset 0px -35px 28px 0px #fff;
            }
        }
        .slick-active.slick-center {
            border-top: 1px solid #E6E4EA;
            border-bottom: 1px solid #E6E4EA;
            .btn--quiz-vertical-slider-item {
                font-size: 30px;
                color: black !important;
                @media (max-width: 798px) {
                    font-size: 20px;
                }
            }
        }
        .btn--quiz:not([href]) {
            margin: 0;
            border-radius: unset;
            border: unset;
            display: flex !important;
            justify-content: center;
            padding: 5px 0px;
            background: none;
            color: #9A99A2 !important;
        }
    }
}
.range-slider-bar {
    position: absolute;
    -webkit-appearance: none;
    width: calc(100% - 44px);
    height: 7px;
    background: transparent;
    outline: none !important;
    -webkit-transition: 2s;
    transition: opacity 2s;
    border: none;
    padding: 0 8%;
}
.range-slider-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none;
    border: 2px solid black;
    cursor: pointer;
}
.range-slider-bar::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}
.slide-header {
    p {
        text-align: left;
    }
    p.text-align-right {
        text-align: right;
    }
    p.text-align-center {
        text-align: center;
    }
    a {
        text-decoration: underline;
        color: blue;
    }
}

@media (max-width: 798px) {
    .page.page-default {
        padding-top: 0;
        padding-bottom: 0;
    }
    .quizProgressBar {
        margin: 0;
        padding: 0;
    }
    .question-subheading { //.question-heading, 
        font-size: 12px;
        color: #272C2F;
    }
    // .question-subheading {
    //     margin-top: -20px;
    // }
    .btn--quiz {
        margin: 6px;
    }
    .range-emoticon {
        max-width: 100px;
    }
    .container.section-cover {
        .page.page-default .asset-wrapper.swiper-wrapper .swiper-wrapper .swiper-slide-active .slide-inner {
            background-position: left;
            .slide-wrapper {
                padding: 20px;
                margin: 0 auto;
                width: 85%;
                .question-heading {
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                .question-text {
                    font-size: 12px;
                    line-height: 1.4;
                }
                .section-heading.mobile-hide {
                    display: none;
                }
                .slide-bottom {
                    padding: 10px 0px;
                    margin-top: 15px;
                    .btn-section-cover {
                        font-size: 14px;
                        padding: 10px 50px;
                    }
                }
            }
            .section-heading.desktop-hide {
                font-family: 'NewYork';
                font-style: normal;
                font-size: 24px;
                line-height: 1;
                color: #272C2F;
                margin: 30px 0px;
            }
        }
    }
    .desktop-hide {
        display: block;
    }
    // .calculating-announcement-bar.desktop-hide {
    //     display: none;
    // }
    // .calculating-announcement-bar.desktop-hide.show {
    //     display: block;
    // }
    .mobile-hide {
        display: none;
    }
    .calculating-slide {
        padding: 0 22px;
        display: block;
        .calculating-wrapper {
            display: block;
            text-align: center;
            .desktop-hide {
                width: 100%;
                margin-top: 20px;
            }
            .calculating-body {
                .center-group span {
                    font-weight: normal;
                }
            }
        }
    }
    .btn--quiz-back {
        font-family: 'DM Sans',sans-serif;
        font-weight: 400;
        font-size: 11px;
        display: flex;
        align-items: center;
        margin-top: 70px;
        img {
            display: inline-block;
        }
        span {
            // padding: 10px;
        }
    }
    // .btn--quiz-back.proper {
    //     background: #92c79d;
    //     margin-left: -15px;
    //     margin-right: -15px;
    //     padding: 0 22px;
    // }
    .sidebar-button-slide {
        left: 13px;
        width: calc(100% - 26px);
        .inner {
            span.title {
                font-size: 9px;
                margin-left: 10px;
            }
            p {
                font-size: 12px;
                padding: 0 10px;
                width: 86%;
            }
            .left-arrow-button {
                width: 15px;
                height: 15px;
                border-left: 3px solid;
                border-top: 3px solid;
                margin-right: 20px;
            }
        }
    }
    .sidebar-button-slide.collapsed {
        width: 30px;
        .inner span.title {
            margin-left: 5px;
        }
    }
    .pre-product-recommendation {
        // margin-left: 0px;
        // margin-right: 0px;
        .section-wrapper.flex {
            // align-items: normal;
            // padding-top: 50px;
            .right-side {
                width: 100%;
                text-align: center;
                padding-left: 22px;
                padding-right: 22px;
                margin: 0;
                p, a {
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.5;
                }
                .btn-flex {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    background: #272C2F;
                    border-radius: 10px;
                    padding: 15px;
                    max-width: 320px;
                    margin: 0 auto;
                }
            }
            .left-side {
                display: none;
            }
            .right-side {
                span, p {
                    color: white;
                }
            }
        }
        
    }
    .recommended-products {
        height: auto;
        // .h1 {
        //     display: none;
        // }
        .products-wrapper {
            display: block;
            .item {
                box-shadow: unset;
                position: relative;
                margin-bottom: 20px;
                .image-wrapper {
                    a {
                        padding-bottom: 36%;
                    }
                }
                .text-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    padding: 20px 10px;
                    h3, h3.product-title {
                        font-size: 11px;
                        margin: 0;
                    }
                    .sub-heading {
                        color: black;
                    }
                    ul {
                        display: none;
                    }
                    .bottom {
                        margin: 0;
                        margin-top: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        span.text {
                            font-size: 9px;
                            padding-top: 0px;
                        }
                        .btn-right-arrow-wrapper {
                            width: 60%;
                            height: 27px;
                            .btn-right-arrow {
                                margin-left: 38px;
                                border-width: 1px;
                                width: 5px;
                                height: 5px;
                                border-color: black;
                                &::before {
                                    height: 1px;
                                    width: 25px;
                                    right: -3px;
                                    margin-right: -1px;
                                    top: 8px;
                                    background-color: black;
                                }
                            }
                        }
                        
                    }
                }
            }
            .item.arrow {
                display: block;
                text-align: center;
                span.text {
                    margin: 0;
                }
                .text.desktop-hide {
                    padding: 10px 50px;
                    background: #272C2F;
                    color: white;
                    width: 70%;
                    margin: 0 auto;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: normal;
                }
                .btn-right-arrow {
                    display: none;
                }
            }
        }
    }
    .learn-more-popup {
        width: 248px;
        height: 100%;
        left: -248px;
        .item {
            .image-wrapper {
                display: none;
            }
            .text-wrapper {
                padding: 32px 16px;
                .inner-wrapper {
                    margin-top: 42px;
                    text-align: left;
                    .product-title {
                        font-weight: bold;
                        font-size: 24px;
                        width: 100%;
                        border-color: white;
                        line-height: 2;
                    }
                    .recommend_label {
                        font-family: "NewYork";
                        font-weight: normal;
                        font-size: 40px;
                        line-height: 140%;
                    }
                    .recommend_short_text {
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 140%;
                    }
                    ul {
                        margin-left: 14px;
                        margin-right: 95px;
                        li {
                            width: 100%;
                            margin-bottom: 16px;
                        }
                    }
                    .bottom {
                       text-align: center;
                       display: flex;
                       align-items: center;
                       justify-content: space-evenly;
                        .learn-more {
                            font-weight: normal;
                            font-size: 24px;
                        }
                        .btn-right-arrow {
                            width: 6px;
                            height: 6px;
                            margin-left: 15px;
                            margin-top: 3px;
                            transform: rotate(45deg);
                            border-top: 1px solid black;
                            border-right: 1px solid black;
                            &::before {
                                content: '';
                                background: #fff;
                                position: absolute;
                                transform: rotate(135deg);
                                height: 1px;
                                width: 30px;
                                right: -1px;
                                margin-right: -5px;
                                top: 9px;
                                background-color: #000;
                            }
                        }
                    }  
                }
                .close-wrapper {
                    .close {
                       width: 26px;
                       height: 26px;
                        &::before {
                            width: 26px;
                            height: 3px;
                        }
                        &:after {
                            width: 3px;
                            height: 26px;
                        }
                    }
                } 
            }
        }
    }
    .learn-more-popup.popup-open {
        transform: translateX(248px);
    }
}