{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% comment %} {% if settings.breadcrumb_layout == 'top' %}
    {% render 'breadcrumb' %}
{% endif %} {% endcomment %}

<div class="container">
    <div class="page page-cart">
      {% section 'cart-simple-template' %}
      {% comment %} {% section 'cart-template' %} {% endcomment %}
	</div>
</div>
{% comment %} {% section 'list-collections-products-3' %}

{% if settings.breadcrumb_layout == 'bottom' %}
    {% render 'breadcrumb' %}
{% endif %} {% endcomment %}